*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
}

body {
  display: flex;
}

div.banner-image {
  width: 540px;
  height: 1000px;
  background: url("images/pink-flowers.jpeg");
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.banner-title {
  margin-top: 85px;
  padding: 6px 0;
  background-color: rgba(0, 0, 0, 0.45);
  color: rgb(255, 255, 255, 0.95);
  font-size: 3rem;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

img.plum-blossom {
  width: 7rem;
  height: 7rem;
  margin-right: 4px;
  opacity: 0.95;
}

.credit,
.credit > a {
  color: rgb(255, 255, 255, 0.8);
  text-align: center;
  margin-bottom: 8px;
}
