*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}

body {
  display: flex;
}

div.banner-image {
  width: 540px;
  height: 1000px;
  flex-shrink: 0;
  background: url("images/plants.jpg");
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.banner-title {
  margin-top: 220px;
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.45);
  color: rgb(255, 255, 255, 0.95);
  font-size: 2.75rem;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

img.plum-blossom {
  width: 9rem;
  height: 9rem;
  margin-right: 4px;
  opacity: 0.95;
}

.credit,
.credit > a {
  color: rgb(255, 255, 255, 0.8);
  text-align: center;
  margin-bottom: 8px;
}

.content {
  --content-margin-left: 42px;
  --content-margin-top-bot: 24px;
  --content-width: 700px;
  background-color: #f6f7f8;
  flex: 1;
}

div.sign-up-hook {
  width: var(--content-width);
  margin-top: 160px;
  margin-bottom: 60px;
  margin-left: var(--content-margin-left);
  font-size: 1.9rem;
  font-weight: 550;
  line-height: 1.1;
}

em {
  font-size: inherit;
}

.form-container {
  background-color: white;
  padding: 20px 0 40px var(--content-margin-left);
  box-shadow: 0 8px 8px -5px #a2a4a9;
}

.form-title {
  font-size: 2rem;
  font-weight: 550;
}

.form-row {
  display: flex;
  gap: 80px;
}

.form-item {
  margin-top: var(--content-margin-top-bot);
}

.form-item > label {
  display: block;
  margin-bottom: 2px;
  letter-spacing: 1.5px;
  font-weight: 550;
}

.form-item > input {
  width: 280px;
  height: 36px;
  padding-left: 8px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
}

input + span {
  position: relative;
  display: block;
}

input + span::before {
  position: absolute;
}

.form-item > input[type="password"]:invalid {
  border: 1px solid red;
}

.form-item > input[type="password"]:invalid + span::before {
  content: "* Passwords do not match";
  color: red;
  font-size: .9rem;
}

button[type="submit"] {
  margin: 40px var(--content-margin-left);
  padding: 12px 60px;
  border-radius: 12px;
  border: 1px solid #6a9734;
  background-color: #6a9734;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 550;
}

.login-query {
  margin-left: var(--content-margin-left);
  margin-bottom: 40px;
  font-size: 1.3rem;
}

a {
  color: #6a9734;
  font-size: inherit;
  font-weight: 600;
  text-decoration: none;
}